# application/config.cfg

import os

WTF_CSRF_ENABLED = True
SQLALCHEMY_TRACK_MODIFICATIONS = False

SECRET_KEY = os.getenv("SECRET_KEY", "fallback-secret")
SQLALCHEMY_DATABASE_URI = os.getenv("DATABASE_URL", "sqlite:///hdb_resale_app.db")
